.bg-col {
    background-color: azure;
}

.bg-map {
    background-image: url('../rest_center/10.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: fixed;
}

img {
  width: 100%;
  display: inline-block;
}

.color-red {
    color: crimson;
}

.mar-left-1000 {
    margin-left: 1000px;
}

.mar-left-600 {
    margin-left: 600px;
}

.mar-left-700 {
    margin-left: 700px;
}

.card-img-same {
    height: 400px;
}

.img-new {
  width: 200px;
}

.img-new:hover {
  border: 2px solid #f00;
  width: 100%;
}

.card-bg {
    background-color: rgba(225, 184, 255, 0.5);
}