.bg-col {
    background-color: azure;
}

.bg-map {
    background-image: url('../rest_center/10.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: fixed;
}

@media screen and (max-width: 1520px) {
    .bg-map {
        background-image: None;
    }
}

@media screen and (max-width: 1520px) {
    .bg-1 {
        display: none;
    }
}

@media screen and (min-width: 1520px) {
    .bg-2 {
        display: none;
    }
}

p {
    color: #505a50;
}

img {
  width: 100%;
  display: inline-block;
}

.color-red {
    color: crimson;
}

.mar-left-1000 {
    margin-left: 1000px;
    font-style: oblique;
}

.mar-left-600 {
    margin-left: 600px;
    font-style: oblique;
}

.mar-left-700 {
    margin-left: 700px;
    font-style: oblique;
}

.mar-left-0 {
    font-style: oblique;
}

.card-img-same {
    height: 400px;
}

.img-new {
  width: 200px;
}

.img-new:hover {
  border: 2px solid #f00;
  width: 100%;
}

.card-bg {
    background-color: rgba(123, 184, 255, 0.2);
    width: 10rem;
    height: 27rem;
}

.card-bg-1 {
    background-color: rgba(123, 184, 255, 0.2);
}

.card-bg-2 {
    background-image: url('../rest_center/112.jpg');
    background-size: 100%;
    height: 20rem;
}

.card-bg-3 {
    background-image: url('../rest_center/111.jpg');
    background-size: 100%;
    height: 20rem;
}


div.hide { display:none }
div.show { visibility: visible }


body {
    background-color: azure;
}

.bg-forecast {
    background-image: url('../rest_center/13.jpg');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: top;
    background-attachment: fixed;
   }

@media screen and (max-width: 1400px) {
    .bg-forecast {
        background: azure;
    }
}

.text-white-new {
    color: rgba(255, 255, 255, 0.7);
}

@media screen and (max-width: 1400px) {
    .text-white-new {
        color: rgba(0, 127, 252, 0.58);
    }
}

.small-icon {
    width: 7rem;
}
