{% extends 'base.html' %}
{% load static %}
{% block title %}
    Отель
{% endblock %}
{% block body %}
    <div class="container">
        <div class="row align-items-start">
            <div class="col col-md-3">
            <p class="fst-italic">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce maximus molestie metus lacinia volutpat. Sed
                tincidunt et est vitae molestie. Nunc accumsan lacus dolor, at auctor nulla vestibulum at. Proin convallis sem sed
                arcu commodo congue. Fusce tincidunt dictum mattis. Donec ullamcorper massa leo, eget feugiat massa finibus rutrum.
                Ut eget mattis eros. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vitae est fermentum, mollis
                odio quis, accumsan erat. Sed nec lorem bibendum ipsum suscipit placerat. Mauris laoreet interdum libero,
                scelerisque dictum ligula auctor id. Cras imperdiet, tellus sit amet tincidunt blandit, libero magna laoreet lectus,
                eu molestie lectus libero tempor erat. Nullam ut varius ipsum. In at ullamcorper tellus, et tincidunt ante.
            </p>
            </div>
        <div class="col">
            <div id="carouselExampleInterval" class="carousel slide" data-bs-ride="carousel">
              <div class="carousel-inner">
                <div class="carousel-item active" data-bs-interval="2000">
                  <img src="{% static 'rest_center/5.jpg' %}" class="d-block w-100" width="30%" height="30%" alt="...">
                </div>
                <div class="carousel-item" data-bs-interval="2000">
                  <img src="{% static 'rest_center/6.jpg' %}" class="d-block w-100" alt="...">
                </div>
                <div class="carousel-item" data-bs-interval="2000">
                  <img src="{% static 'rest_center/7.jpg' %}" class="d-block w-100" alt="...">
                </div>
              </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleInterval" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
        </div>
        <div class="col col-md-3">
            <p class="fst-italic">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce maximus molestie metus lacinia volutpat. Sed
                tincidunt et est vitae molestie. Nunc accumsan lacus dolor, at auctor nulla vestibulum at. Proin convallis sem sed
                arcu commodo congue. Fusce tincidunt dictum mattis. Donec ullamcorper massa leo, eget feugiat massa finibus rutrum.
                Ut eget mattis eros. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vitae est fermentum, mollis
                odio quis, accumsan erat. Sed nec lorem bibendum ipsum suscipit placerat. Mauris laoreet interdum libero,
                scelerisque dictum ligula auctor id. Cras imperdiet, tellus sit amet tincidunt blandit, libero magna laoreet lectus,
                eu molestie lectus libero tempor erat. Nullam ut varius ipsum. In at ullamcorper tellus, et tincidunt ante.
            </p>
        </div>
        </div>
    </div>
    <div class="container">
        <p class="fst-italic">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce maximus molestie metus lacinia volutpat. Sed
            tincidunt et est vitae molestie. Nunc accumsan lacus dolor, at auctor nulla vestibulum at. Proin convallis sem sed
            arcu commodo congue. Fusce tincidunt dictum mattis. Donec ullamcorper massa leo, eget feugiat massa finibus rutrum.
            Ut eget mattis eros. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur vitae est fermentum, mollis
            odio quis, accumsan erat. Sed nec lorem bibendum ipsum suscipit placerat. Mauris laoreet interdum libero,
            scelerisque dictum ligula auctor id. Cras imperdiet, tellus sit amet tincidunt blandit, libero magna laoreet lectus,
            eu molestie lectus libero tempor erat. Nullam ut varius ipsum. In at ullamcorper tellus, et tincidunt ante.
        </p>

        <p class="fst-italic">
                Suspendisse potenti. Duis accumsan et dolor a vulputate. Ut cursus lobortis tempus. Praesent eu augue fermentum,
            feugiat metus vel, volutpat quam. Ut ut iaculis eros. Maecenas in rutrum nulla. Suspendisse posuere dignissim felis,
            at pellentesque erat euismod ac.
        </p>

        <p class="fst-italic">
                Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus ac lacus nec dolor bibendum laoreet. Duis nec
            sagittis ipsum. Interdum et malesuada fames ac ante ipsum primis in faucibus. Class aptent taciti sociosqu ad litora
            torquent per conubia nostra, per inceptos himenaeos. Phasellus vel mi tellus. Suspendisse maximus consectetur ante,
            vel tempor diam condimentum blandit. Etiam viverra imperdiet neque quis tempor. Donec hendrerit ornare sem in
            faucibus.
        </p>

        <p class="fst-italic">
                Mauris condimentum vitae metus eu cursus. Proin at commodo tellus. Nam rhoncus orci ante, sit amet bibendum nulla
            dignissim id. Etiam id vehicula magna. Donec dictum arcu felis, sed maximus lectus efficitur et. Donec facilisis
            orci ut leo hendrerit tincidunt. Pellentesque rhoncus eleifend lorem eu dapibus. Nulla facilisi. In mauris leo,
            varius ornare dolor a, luctus gravida orci.
        </p>

        <p class="fst-italic">
                Integer facilisis, mauris ornare blandit vehicula, velit eros sollicitudin velit, et egestas sem augue a diam. Proin
            blandit eleifend quam, vel tincidunt nibh congue id. Aenean hendrerit dolor eu erat aliquam, non fringilla ipsum
            rhoncus. Nunc odio mauris, viverra sit amet enim ut, laoreet lobortis velit. Aliquam in enim ac orci finibus
            euismod. Sed sollicitudin ultrices diam, et suscipit lorem. In eu sagittis turpis. Etiam fringilla at odio in
            sodales. Maecenas lacus neque, ultrices sed lacus cursus, accumsan semper tortor. Cras eget ornare nisl. Phasellus a
            diam lacus. Quisque vel risus at magna accumsan molestie.
        </p>
    </div>
{% endblock %}