{% extends 'base.html' %}
{% block title %}
    Бронирование
{% endblock %}
{% block body %}
    {% if request.user.is_authenticated %}
    <div class="container">
        <div class="row">
            <h3 class="text-center"> {{ context.name }} </h3>
            <br>
            <br>
            <div class="col align-self-start">
                <img src="{{ context.photo.url }}" alt="...">
            </div>
            <div class="col align-self-end">
                <form method="post">
                    {% csrf_token %}
                    <h5 class="text-center">{{ room.start.label }} :
                        {{ room.start }}
                    </h5>
                    <h5 class="text-center">{{ room.end.label }} :
                        {{ room.end }}
                    </h5>
                     <button type="submit" class="btn btn-secondary">
                         забронировать
                     </button>
                </form>
            </div>
        </div>
        <br>
        <br>
    </div>
    {% endif %}
{% endblock %}