{% extends 'base.html' %}
{% block title %}
    Бронирование
{% endblock %}
{% block body %}
    {% if request.user.is_authenticated %}
    <div class="container">
        <div class="row">
            <h3 class="text-center"> {{ context.name }} </h3>
            <br>
            <br>
            <div class="col align-self-start">
                <img src="{{ context.photo.url }}" alt="...">
            </div>
            <div class="col align-self-end">
                <form method="post">
                    {% csrf_token %}
                    <h5 class="text-center">{{ room.calendar_start.label }} : {{ room.calendar_start }}</h5>
                    <h5 class="text-center">{{ room.calendar_end.label }} : {{ room.calendar_end }}</h5>
                </form>
            </div>
        </div>
        <br>
        <br>
    </div>
    {% endif %}
{% endblock %}