{% extends 'base.html' %}
{% block title %}
    Бронирование
{% endblock %}
{% block body %}
    {% if request.user.is_authenticated %}
    <div class="container">
        <div class="row">
            <h3 class="text-center"> {{ context.name }} </h3>
            <br>
            <br>
            <div class="col align-self-start">
                <img src="{{ context.photo.url }}" alt="...">
            </div>
            <div class="col align-self-end">
                {% if book %}
                    <div class="text-center text-primary">
                            <h3>Этот номер уже забронирован</h3>
                        <div class="btn-group">
                          <button type="button" class="btn dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
                            <h3>посмотреть бронирования</h3>
                          </button>
                          <ul class="dropdown-menu">
                              {% for item in book.all %}
                                <li class="dropdown-item"><h4>с {{ item.start }} по {{ item.end }}</h4></li>
                              {% endfor %}
                          </ul>
                        </div>
                    </div>
                {% endif %}
                <form method="post">
                    {% csrf_token %}
                    <h5 class="text-center">{{ room.start.label }} :
                        {{ room.start }}
                    </h5>
                    <h5 class="text-center">{{ room.end.label }} :
                        {{ room.end }}
                    </h5>
                    {% for error in room.non_field_errors %}
                        <h3 class="text-center text-danger"> {{ error }} </h3>
                    {% endfor %}
                    <h5 class="text-center">стоимость: {{ price }} рублей в сутки</h5>
                    <div class="text-center">
                        <button type="submit" class="btn btn-secondary">
                            забронировать
                        </button>
                    </div>
                </form>
            </div>
        </div>
        <br>
        <br>
    </div>
    {% endif %}
{% endblock %}