{% extends 'base.html' %}
{% block title %}
    Номера
{% endblock %}
{% block body %}
    <div class="row row-cols-1 row-cols-md-3 g-4">
    {% for object in context.all %}
      <div class="col">
        <div class="card">
          <img src="{{ object.photo.url }}" class="card-img-top rounded" alt="...">
          <div class="card-body">
            <h5 class="card-title text-center">{{ object.name }}</h5>
            <p class="card-text fst-italic">{{ object.description }}</p>
              <table class="table table-borderless">
                  <tr>
                      <td class="card-text">цена: {{ object.price }} рублей в сутки</td>
                      {% if request.user.is_authenticated %}
                      <td class="text-end"> <a href="{% url 'booking' object.id %}" class="btn btn-primary">Забронировать</a> </td>
                      {% endif %}
                  </tr>
              </table>
          </div>
        </div>
      </div>
    {% endfor %}
    </div>
{% endblock %}