{% extends 'base.html' %}
{% block title %}
    Номера
{% endblock %}
{% block body %}
    {% if request.user.is_authenticated %}
    <h3>Число Ваших бронирований: {{ list | length }}</h3>
    <br>
    <br>
    {% for object in list %}
        <h3>Дата въезда: {{ object.0.start }}, выезда: {{ object.0.end }}, номер:
            <a href="{% url 'booking' object.1.id %}"> {{ object.0.room_name }} </a>
            {% if not object.0.price %}
                (не оплачено)
                <a href="{% url 'pay' object.1.id object.0.id %}" class="btn btn-secondary">
                    оплатить
                </a>
            {% else %}
                (оплачено)
            {% endif %}
        </h3>
    {% endfor %}
    {% endif %}
{% endblock %}